ClienteEscritorio/Connected Services/ServiceReference2/WSNorthWind.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListarCategorias">
        <s:complexType />
      </s:element>
      <s:element name="ListarCategoriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarCategoriasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarCategoria">
        <s:complexType />
      </s:element>
      <s:element name="AgregarCategoriaResponse">
        <s:complexType />
      </s:element>
      <s:element name="ActualizarCategoria">
        <s:complexType />
      </s:element>
      <s:element name="ActualizarCategoriaResponse">
        <s:complexType />
      </s:element>
      <s:element name="EliminarCategoria">
        <s:complexType />
      </s:element>
      <s:element name="EliminarCategoriaResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListarSuppliers">
        <s:complexType />
      </s:element>
      <s:element name="ListarSuppliersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarSuppliersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarSuppliers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContactName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContactTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HomePage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarSuppliersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgregarSuppliersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarSuppliers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SupplierID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContactName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContactTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HomePage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarSuppliersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizarSuppliersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarSuppliers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SupplierID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarSuppliersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarSuppliersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarProducts">
        <s:complexType />
      </s:element>
      <s:element name="ListarProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarProductsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarProducts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SupplierID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CategoryID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="QuantityPerUnit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UnitPrice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UnitsInStock" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UnitsOnOrder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReorderLevel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Discontinued" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgregarProductsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarProducts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SupplierID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CategoryID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="QuantityPerUnit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UnitPrice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UnitsInStock" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UnitsOnOrder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReorderLevel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Discontinued" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizarProductsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarProducts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarProductsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarShippers">
        <s:complexType />
      </s:element>
      <s:element name="ListarShippersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarShippersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarShippers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarShippersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgregarShippersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarShippers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShipperID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarShippersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizarShippersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarShippers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShipperID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarShippersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarShippersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarCategoriasSoapIn">
    <wsdl:part name="parameters" element="tns:ListarCategorias" />
  </wsdl:message>
  <wsdl:message name="ListarCategoriasSoapOut">
    <wsdl:part name="parameters" element="tns:ListarCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarCategoria" />
  </wsdl:message>
  <wsdl:message name="AgregarCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarCategoria" />
  </wsdl:message>
  <wsdl:message name="ActualizarCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarCategoria" />
  </wsdl:message>
  <wsdl:message name="EliminarCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="ListarSuppliersSoapIn">
    <wsdl:part name="parameters" element="tns:ListarSuppliers" />
  </wsdl:message>
  <wsdl:message name="ListarSuppliersSoapOut">
    <wsdl:part name="parameters" element="tns:ListarSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarSuppliersSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarSuppliers" />
  </wsdl:message>
  <wsdl:message name="AgregarSuppliersSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarSuppliersSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarSuppliers" />
  </wsdl:message>
  <wsdl:message name="ActualizarSuppliersSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarSuppliersSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarSuppliers" />
  </wsdl:message>
  <wsdl:message name="EliminarSuppliersSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="ListarProductsSoapIn">
    <wsdl:part name="parameters" element="tns:ListarProducts" />
  </wsdl:message>
  <wsdl:message name="ListarProductsSoapOut">
    <wsdl:part name="parameters" element="tns:ListarProductsResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarProductsSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarProducts" />
  </wsdl:message>
  <wsdl:message name="AgregarProductsSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarProductsResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarProductsSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarProducts" />
  </wsdl:message>
  <wsdl:message name="ActualizarProductsSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarProductsResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarProductsSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarProducts" />
  </wsdl:message>
  <wsdl:message name="EliminarProductsSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarProductsResponse" />
  </wsdl:message>
  <wsdl:message name="ListarShippersSoapIn">
    <wsdl:part name="parameters" element="tns:ListarShippers" />
  </wsdl:message>
  <wsdl:message name="ListarShippersSoapOut">
    <wsdl:part name="parameters" element="tns:ListarShippersResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarShippersSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarShippers" />
  </wsdl:message>
  <wsdl:message name="AgregarShippersSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarShippersResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarShippersSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarShippers" />
  </wsdl:message>
  <wsdl:message name="ActualizarShippersSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarShippersResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarShippersSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarShippers" />
  </wsdl:message>
  <wsdl:message name="EliminarShippersSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarShippersResponse" />
  </wsdl:message>
  <wsdl:portType name="WSNorthwindSoap">
    <wsdl:operation name="ListarCategorias">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listar Categorias</wsdl:documentation>
      <wsdl:input message="tns:ListarCategoriasSoapIn" />
      <wsdl:output message="tns:ListarCategoriasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarCategoria">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agregar Categoria</wsdl:documentation>
      <wsdl:input message="tns:AgregarCategoriaSoapIn" />
      <wsdl:output message="tns:AgregarCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCategoria">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualizar Categoria</wsdl:documentation>
      <wsdl:input message="tns:ActualizarCategoriaSoapIn" />
      <wsdl:output message="tns:ActualizarCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCategoria">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Eliminar Categoria</wsdl:documentation>
      <wsdl:input message="tns:EliminarCategoriaSoapIn" />
      <wsdl:output message="tns:EliminarCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarSuppliers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listar Suppliers</wsdl:documentation>
      <wsdl:input message="tns:ListarSuppliersSoapIn" />
      <wsdl:output message="tns:ListarSuppliersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarSuppliers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agregar Suppliers</wsdl:documentation>
      <wsdl:input message="tns:AgregarSuppliersSoapIn" />
      <wsdl:output message="tns:AgregarSuppliersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarSuppliers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualizar Suppliers</wsdl:documentation>
      <wsdl:input message="tns:ActualizarSuppliersSoapIn" />
      <wsdl:output message="tns:ActualizarSuppliersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarSuppliers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Eliminar Suppliers</wsdl:documentation>
      <wsdl:input message="tns:EliminarSuppliersSoapIn" />
      <wsdl:output message="tns:EliminarSuppliersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarProducts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listar Products</wsdl:documentation>
      <wsdl:input message="tns:ListarProductsSoapIn" />
      <wsdl:output message="tns:ListarProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarProducts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agregar Products</wsdl:documentation>
      <wsdl:input message="tns:AgregarProductsSoapIn" />
      <wsdl:output message="tns:AgregarProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualizar Products</wsdl:documentation>
      <wsdl:input message="tns:ActualizarProductsSoapIn" />
      <wsdl:output message="tns:ActualizarProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProducts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Eliminar Products</wsdl:documentation>
      <wsdl:input message="tns:EliminarProductsSoapIn" />
      <wsdl:output message="tns:EliminarProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarShippers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listar Shippers</wsdl:documentation>
      <wsdl:input message="tns:ListarShippersSoapIn" />
      <wsdl:output message="tns:ListarShippersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarShippers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agregar Shippers</wsdl:documentation>
      <wsdl:input message="tns:AgregarShippersSoapIn" />
      <wsdl:output message="tns:AgregarShippersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarShippers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualizar Shippers</wsdl:documentation>
      <wsdl:input message="tns:ActualizarShippersSoapIn" />
      <wsdl:output message="tns:ActualizarShippersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarShippers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Eliminar Shippers</wsdl:documentation>
      <wsdl:input message="tns:EliminarShippersSoapIn" />
      <wsdl:output message="tns:EliminarShippersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSNorthwindSoap" type="tns:WSNorthwindSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarCategorias">
      <soap:operation soapAction="http://tempuri.org/ListarCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarCategoria">
      <soap:operation soapAction="http://tempuri.org/AgregarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCategoria">
      <soap:operation soapAction="http://tempuri.org/ActualizarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCategoria">
      <soap:operation soapAction="http://tempuri.org/EliminarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarSuppliers">
      <soap:operation soapAction="http://tempuri.org/ListarSuppliers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarSuppliers">
      <soap:operation soapAction="http://tempuri.org/AgregarSuppliers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarSuppliers">
      <soap:operation soapAction="http://tempuri.org/ActualizarSuppliers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSuppliers">
      <soap:operation soapAction="http://tempuri.org/EliminarSuppliers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProducts">
      <soap:operation soapAction="http://tempuri.org/ListarProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarProducts">
      <soap:operation soapAction="http://tempuri.org/AgregarProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducts">
      <soap:operation soapAction="http://tempuri.org/ActualizarProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProducts">
      <soap:operation soapAction="http://tempuri.org/EliminarProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarShippers">
      <soap:operation soapAction="http://tempuri.org/ListarShippers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarShippers">
      <soap:operation soapAction="http://tempuri.org/AgregarShippers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarShippers">
      <soap:operation soapAction="http://tempuri.org/ActualizarShippers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarShippers">
      <soap:operation soapAction="http://tempuri.org/EliminarShippers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSNorthwindSoap12" type="tns:WSNorthwindSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarCategorias">
      <soap12:operation soapAction="http://tempuri.org/ListarCategorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarCategoria">
      <soap12:operation soapAction="http://tempuri.org/AgregarCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCategoria">
      <soap12:operation soapAction="http://tempuri.org/ActualizarCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCategoria">
      <soap12:operation soapAction="http://tempuri.org/EliminarCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarSuppliers">
      <soap12:operation soapAction="http://tempuri.org/ListarSuppliers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarSuppliers">
      <soap12:operation soapAction="http://tempuri.org/AgregarSuppliers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarSuppliers">
      <soap12:operation soapAction="http://tempuri.org/ActualizarSuppliers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSuppliers">
      <soap12:operation soapAction="http://tempuri.org/EliminarSuppliers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProducts">
      <soap12:operation soapAction="http://tempuri.org/ListarProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarProducts">
      <soap12:operation soapAction="http://tempuri.org/AgregarProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducts">
      <soap12:operation soapAction="http://tempuri.org/ActualizarProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProducts">
      <soap12:operation soapAction="http://tempuri.org/EliminarProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarShippers">
      <soap12:operation soapAction="http://tempuri.org/ListarShippers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarShippers">
      <soap12:operation soapAction="http://tempuri.org/AgregarShippers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarShippers">
      <soap12:operation soapAction="http://tempuri.org/ActualizarShippers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarShippers">
      <soap12:operation soapAction="http://tempuri.org/EliminarShippers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSNorthwind">
    <wsdl:port name="WSNorthwindSoap" binding="tns:WSNorthwindSoap">
      <soap:address location="http://www.dais-w-02.somee.com/WSNorthWind.asmx" />
    </wsdl:port>
    <wsdl:port name="WSNorthwindSoap12" binding="tns:WSNorthwindSoap12">
      <soap12:address location="http://www.dais-w-02.somee.com/WSNorthWind.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>